@import "../../css/mixin/mixin.scss";
@import "../../css/constants/constants.scss";

$icon-size: 48px;
$title-size: 112px;
$title-margin: 16px;

.container-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .content-item {
        display: flex;
        align-items: center;
        justify-content: center;
        &.logo {
            height: 230px;
            align-items: flex-end;
            .google-logo-container {
                width: 80%;
                height: 70%;
                background-image: url("../../images/svg-file/google-logo.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &.search-box {
            height: 70px;
            margin-bottom: 18px;
            .input-buffer {
                border: 1px solid #ccc;
                height: 44px;
                width: 80%;
                @media (min-width: 672px) {
                    width: 5 * 112px;
                }
                @media (min-width: 560px) and (max-width: 672px) {
                    width: 4 * 112px;
                }
                @media (min-width: 337px) and (max-width: 560px) {
                    width: 3 * 112px;
                }
                background-color: white;
                display: flex;
                border-radius: 100px;
                min-width: 337px;
                max-width: 560px;
                flex-direction: row;

                .search-icon {
                    color: rgb(96, 100, 105);
                    height: 100%;
                    width: 50px;
                    display: flex;
                    font-size: 20px;
                    align-items: center;
                    justify-content: center;
                }
                .input-box {
                    height: 100%;
                    flex-grow: 1;
                    font-family: arial, sans-serif;
                    input {
                        height: 100%;
                        width: 100%;
                        border: none;
                        background: none;
                        &:focus {
                            border: none;
                            background: none;
                            outline: none;
                        }
                    }
                }
                .record-box {
                    height: 100%;
                    width: 50px;
                    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik0xMiAxNWMxLjY2IDAgMi45OS0xLjM0IDIuOTktM0wxNSA1YzAtMS42Ni0xLjM0LTMtMy0zUzkgMy4zNCA5IDV2N2MwIDEuNjYgMS4zNCAzIDMgM3oiLz48cGF0aCBmaWxsPSIjMzRBODUzIiBkPSJNMTEgMTguOTJoMlYyMmgtMnoiLz48cGF0aCBmaWxsPSIjRjRCNDAwIiBkPSJNNyAxMkg1YzAgMS45My43OCAzLjY4IDIuMDUgNC45NWwxLjQxLTEuNDFDNy41NiAxNC42MyA3IDEzLjM4IDcgMTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTEyIDE3Yy0xLjM4IDAtMi42My0uNTYtMy41NC0xLjQ3bC0xLjQxIDEuNDFBNi45OSA2Ljk5IDAgMCAwIDEyLjAxIDE5YzMuODcgMCA2Ljk4LTMuMTQgNi45OC03aC0yYzAgMi43Ni0yLjIzIDUtNC45OSA1eiIvPjwvc3ZnPg==");
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.9);
                        @include title-hover(50%);
                    }
                }
            }
        }
        &.user-mosted-box {
            transition: opacity 300ms ease-in-out;
            height: calc(2 * 128px);
            //
            @media (min-width: 672px) {
                .most-visited-page-container {
                    width: calc(5 * 112px);
                    height: calc(2 * 128px);
                    // border: 1px solid brown;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            @media (min-width: 560px) and (max-width: 672px) {
                .most-visited-page-container {
                    width: calc(4 * 112px);
                    height: calc(2 * 128px);
                    // border: 1px solid brown;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            @media (min-width: 337px) and (max-width: 560px) {
                .most-visited-page-container {
                    width: calc(3 * 112px);
                    height: calc(2 * 128px);
                    // border: 1px solid brown;
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}
