.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 16px;
    .bg-image-attribution {
        position: fixed;
        left: 16px;
        border-radius: 8px;
        bottom: 16px;
        color: rgba(248, 249, 250, 1);
        line-height: 20px;
        max-width: 50vw;
        padding: 8px;
        display: flex;
        flex-direction: row;
        text-decoration: underline;
        .link-icon {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .customize-button {
        height: 32px;
        min-width: 32px;
        background-color: white;
        display: inline-flex;
        align-content: center;
        flex-direction: row;
        border: none;
        border-radius: 160px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
        font-weight: 500;
        font-family: "Roboto", arial, sans-serif;
        padding: 8px 16px;
        font-size: 81.25%;
        color: rgb(26, 115, 232);
        .customize-icon {
            color: rgb(26, 115, 232);
            height: 16px;
            width: 16px;
            font-weight: 500;
        }
        .customize-text {
            margin-left: 8px;
        }
        &:hover {
            cursor: pointer;
        }
    }
}
