$height-header: 58px;
$quick-transition: 0.1s all linear;
$font-family: "Segoe UI", "Roboto", arial, sans-serif;

//container visited-item
$icon-size: 48px;
$title-size: 112px;
$title-margin: 16px;
$icon-button-color: var(--google-grey-600);
$icon-button-color-active: var(--google-grey-refresh-700);
$tile-hover-color: rgba(var(--google-grey-900-rgb), 0.1);
